main {
    max-width: none;
    position: relative;
}

main > picture {
    border-bottom: none;
}

.data, .weather {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 1rem;
}

.data {
    top: 4rem;
    left: 2rem;
}

.weather {
    top: 28rem;
    right: 1rem;
}

.weather-icon {
    display: none;
}

.weather h2::after {
    content: "⛅";
    margin-left: 0.75rem;
    
}

.data h2, .weather h2 {
    color: var(--accent-color);
    background-color: var(--secondary-color);
    padding: 0.75rem 1rem;
    margin: -0.5rem 0 1.5rem -2rem;
    width: 80%;
    text-align: left;
    white-space: nowrap;
}